<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body id="page-top">
<!-- Masthead-->
<header class="masthead" th:fragment="intro-content">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">Jetzer's Projects</h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5">Random projects, created for fun.</h2>
      <a class="btn btn-primary js-scroll-trigger" href="#about">Look around</a>
    </div>
  </div>
</header>
</body>
</html>